@keyframes menu-entry {
    from {
        right: -10vw;
    }
    to {
        right: 0;
    }
}

@keyframes menu-entry-mobile {
    from {
        right: -100vw;
    }
    to {
        right: 0;
    }
}

@keyframes nav-item-popup {
    from {
        transform: scale(0, 0);
    }
    to {
        transform: scale(1, 1);
    }
}

#main-menu {
    position: relative;
}

#main-menu .toggle-btn {
    position: absolute;
    top: 30px;
    right: 1vw;
    z-index: 10;
    font-size: 1.5rem;
    color: var(--primary-font-color);
    transform: scale(0, 0);
    animation: nav-item-popup 1.5s forwards;
    animation-delay: 1s;
}

#main-menu .toggle-btn i.icon {
    text-shadow: 0 0 10px #000;
    transform: scale(0, 0);
    transform: rotate(-360deg);
    transition: all 0.5s ease-in-out;    
}

#main-menu .toggle-btn.show i.icon {
    transform: rotate(540deg);
}

#main-menu i.icon:hover {
    cursor: pointer;
}

#main-menu .link-container {
    /* border: 2px solid #000; */
    position: fixed;
    top: 0;
    right: -10vw;
    width: 10vw;
    height: 100vh;
    /* background: linear-gradient(#e8491d99, #ffffff99); */
    /* background: linear-gradient(rgba(232, 73, 29, 0.95), rgba(255, 255, 255, 0.95)); */
    background:  linear-gradient(rgba(134, 102, 32, 0.8),rgba(230, 199, 134, 0.8));
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;        
    animation: menu-entry 1s forwards;
    animation-delay: 1s;
}

#main-menu .link-container.show{
    transform: translateX(0vw);
    transition: all 0.5s ease-in-out;
}

#main-menu .link-container.hide{
    transform: translateX(10vw);
    transition: all 0.5s ease-in-out;
}

#main-menu .nav-link {
    display: inline-block;
    transform: scale(0, 0);
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--link-color);
    text-shadow: -0.75px 0.75px 0 var(--text-shadow-color),
                    0.75px 0.75px 0 var(--text-shadow-color),
                    0.75px -0.75px 0 var(--text-shadow-color),
                    -0.75px -0.75px 0 var(--text-shadow-color);
    padding: 15px 10px;
    animation: nav-item-popup 1s forwards;
}

#main-menu .nav-link h2.active {
    /* text-decoration: underline;
    transition: all 0.9s ease-in-out; */
    transform: scale(1.2, 1.2);
    transition: all 0.25s ease-in-out;
    text-shadow: -1.5px 1.5px 0 var(--text-shadow-color),
                    1.5px 1.5px 0 var(--text-shadow-color),
                    1.5px -1.5px 0 var(--text-shadow-color),
                    -1.5px -1.5px 0 var(--text-shadow-color);
}

#main-menu .nav-link h2:hover {
    /* text-decoration: underline;
    transition: all 0.9s ease-in-out; */
    transform: scale(1.2, 1.2);
    transition: all 0.25s ease-out;
}

#main-menu .nav-link:active {
    transform: scale(1.2);
}

#main-menu .nav-link.link1{
    animation-delay: 1.5s;
}

#main-menu .nav-link.link2{
    animation-delay: 2.1s;
}

#main-menu .nav-link.link3{
    animation-delay: 2.7s;
}

#main-menu .nav-link.link4{
    animation-delay: 3.3s;
}


@media (max-width: 800px) {
    #main-menu .toggle-btn {
        right: 5vw;
        transition: all 0.6s ease-out;
    }

    #main-menu .toggle-btn.show i.icon{
        transform: rotate(0deg);
    }

    #main-menu .toggle-btn i.icon {
        transform: rotate(540deg);
        transition: all 0.6s ease-in-out;    
    }

    #main-menu .link-container { 
        width: 100vw;
    }

    #main-menu .link-container.show{
        transform: translateX(100vw);
        transition: all 0.5s ease-in-out;
    }
    
    #main-menu .link-container.hide{
        transform: translateX(0);
        transition: all 0.5s ease-in-out;
    }
}